@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


body {
  font-family: 'Abril Fatface', cursive;
  margin: 2em;
  background-color: black;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#special {
  font-style: italic;
  color: #373fff;
}