body {
  font-family: 'Libre Barcode 39 Text', cursive;
  font-size: 30px;
  color: #ffffff;
  margin: auto;
  width: 100%;
  padding: 10px;
  background: black
}

h1 {
  font-style: italic;
  font-size: 100px;
  color: #ffffff;
}

.dna1 {
  color: #9ACD32;
}

.dna2 {
  color: #FFA500;
}

.dna2 {
  color: #FFD700;
}

.dna3 {
  color: #FFA500;
}